/**
 * Place your custom styles here.
 */
@font-face {
   font-family: 'Dosis';
    src: url('../fonts/Dosis-Regular.otf')  format('truetype');
    
}
@font-face {
   font-family: 'Dosis2';
    src: url('../fonts/Dosis-ExtraBold.otf')  format('woff');
    
}
.col-sm-3 .region-sidebar-first{
	margin-left: 20px;
	margin-right: 20px;
}
#block-views-eom-block ,#block-views-new-joinee-block {
	text-align: center;
} 
.row .col-sm-6 h1{
text-align: center;
}
.region-sidebar-first img{
	display: inline;
	text-align: center;
}
.region-sidebar-second #block-views-new-joinee-block {     
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
    margin-top: 10%
}
#block-views-new-joinee-block img {
	display: inline;
	text-align: center;
}
.view-id-fb_feeds .view-content {
	border: 1px solid;
	border-radius: 14px ;
	background-color: rgba(174, 15, 26, 0.77);
	color: white;
	margin-top: 3px;}

.view-id-fb_feeds .view-content .views-row{
border-bottom: 1px solid white;
}	

}
.bubble {
  height: 100%;
  width: 100%;
  border-left: inherit;
  position: relative;
  cursor:pointer;
}
.bubble p{
	margin: 12px 25px 10.5px;
}
#block-views-fb-feeds-block h2 {
	font-family: Dosis;
	color: rgb(174, 15, 26);
	text-align: center;
    text-transform: uppercase;
}

#block-views-eom-block h2 {
	font-family: "Dosis";
	color: rgb(174, 15, 26);
	text-align: center;
    text-transform: uppercase;
}
.view-id-eom{
	border: 1px solid;
	border-radius: 14px ;
	background-color: rgba(174, 15, 26, 0.77);;
	color: white;
	margin-top: 3px;
}
.view-id-eom .img1 {margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10%;
}
.view-id-eom .empname a {
	color: white;
}
#block-block-1 {
  
  //border-left: 10px solid ;
  //border-color:  rgb(174, 15, 26);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
#block-block-1 {
	
  padding-left: 70px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 10px;
  background-image: url(images/openquote4.gif);
  background-position: middle left;
  background-repeat: no-repeat;
  text-indent: 23px;
float: left;
background-size: 47px;
} 
.navbar .container-fluid .navbar-default{
	background-color:rgb(174, 15, 26);
}

.view-id-new_joinee{
	//background-color: rgb(174, 15, 26);
	margin-top: 3px;
	border-top: none;
	margin-top: none;
	padding-top: 10px
}
.view-id-new_joinee .views-field-picture {margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10%;
}
.view-id-new_joinee .views-field-name a{
	color: rgb(174, 15, 26);
}
#block-views-new-joinee-block h2{
	font-family: Dosis;
    color: rgb(174, 15, 26);
    text-align: center;
   // background-color: rgb(174, 15, 26);
   text-transform: uppercase;
    
}
.row .col-sm-6  h1{
	font-family: Dosis;
	color: rgb(174, 15, 26);
    text-align: center;
    padding-top:27px;
    text-transform: uppercase;
}
#block-views-calendar-block-1 h2 {
	text-align: center;
	font-family: Dosis;
	color: white;
	background-color: rgb(174, 15, 26);
	margin-top: 0px;
	margin bottom: 5px;
    text-transform: uppercase;
}
.calendar-calendar .month-view .full td.multi-day div.monthview, .calendar-calendar .week-view .full td.multi-day div.weekview, .calendar-calendar .day-view .full td.multi-day div.dayview {
    background: yellow;
    height: 1.9em;
    overflow: hidden;
    margin: 0px auto;
    color: black;
	position: relative;
}
.calendar-calendar .month-view .full td.multi-day .inner .monthview .continues, .calendar-calendar .month-view .full td.multi-day .inner .monthview .cutoff, .calendar-calendar .week-view .full td.multi-day .inner .weekview .continues, .calendar-calendar .week-view .full td.multi-day .inner .weekview .cutoff {
    position: absolute;
    right: 0px !important;
    right: -1px;
    width: 10px;
    text-align: left;
    background: yellow;
    -moz-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
    height: 1.9em;
    padding-left: 6px;
    z-index: 1;
}
.btn-info {
	margin-top: 10px;
    margin-bottom: 30px;
    -webkit-border-radius: 4px;
    
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    border: 4px solid rgba(174, 15, 26, 0.77);
    padding: 5px 18px 5px;
    line-height: 30px;
    text-align: center;
    background: rgb(174, 15, 26);
    transition: all 0.3s ease-in-out;
}
.btn-info:hover {
    background-color: rgba(174, 15, 26, 0.77);
    border-color: rgba(174, 15, 26, 0.77);
    color: #ffffff;
  
}
.region-content #block-views-calendar-block-1{
	border-left:4px solid;
	 border-right: 4px solid;
	 color: rgb(174, 15, 26);
}
.region-content #block-views-calendar-block-1 .calendar-calendar {
	margin-right: -1px;
	margin-left: -1px;
}
.region-content #block-views-flag-bookmarks-block-1 h2{
	text-align: center;
	font-family: Dosis;
	color: rgb(174, 15, 26);
    text-transform: uppercase;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgba(21, 165, 137, 0.13);
}
.table > thead > tr > td.active, .table > tbody > tr > td.active, .table > tfoot > tr > td.active, .table > thead > tr > th.active, .table > tbody > tr > th.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > tbody > tr.active > td, .table > tfoot > tr.active > td, .table > thead > tr.active > th, .table > tbody > tr.active > th, .table > tfoot > tr.active > th {
    background-color: rgba(21, 165, 137, 0.34);
}
.region-content #block-views-flag-bookmarks-block-1 h2{
    text-align: center;
    font-family: Dosis;
    color: white;
    background-color: rgb(174, 15, 26);
    margin-top: 20px;
    text-transform: uppercase;
 }
 
#block-views-user-birthdays-block h2 {
    text-align: center;
    font-family: Dosis;
    color: white;
    background-color: rgb(174, 15, 26);
    margin-top: 20px;
    text-transform: uppercase;
}
.view-id-user_birthdays{
	margin-left: 30px;
}
#block-views-user-birthdays-block {
	margin-top:30px;
	
	//background-color: rgba(174, 15, 26, 0.77);
}
.region-sidebar-first #block-user-login h2{
font-family: Dosis;
	color: rgb(174, 15, 26);	
    text-transform: uppercase;
}
#block-user-login input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color:rgba(21, 165, 137, 0.13) ;
    background-image: none;
    color: rgb(0, 0, 0);
}
.btn-default {margin-top: 10px;
    margin-bottom: 30px;
    -webkit-border-radius: 4px;
    
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    border: 4px solid rgba(174, 15, 26, 0.77);
    padding: 5px 18px 5px;
    line-height: 30px;
    text-align: center;
    background: rgb(174, 15, 26);
    transition: all 0.3s ease-in-out;
}
#block-system-main{
	margin-bottom: 10px;
}
#block-views-user-birthdays-block .view-id-user_birthdays .table-responsive a{
	color :#2c3e50;
}
#block-weblinks-blocks-weblink-user h2 {
	color: white;
    font-family: Dosis;
    padding-left: 40px;
    background-color: rgb(174, 15, 26);
    margin-top: 0px;
   text-transform: uppercase;
}
#block-socialfeed-instagram-latest-feed h2{
color: rgb(174, 15, 26);
    font-family: Dosis;
    text-align: center;
    text-transform: uppercase;


}
#block-weblinks-blocks-weblink-user{ border: 2px solid rgb(174, 15, 26);
border-top: none;

}
#block-weblinks-blocks-weblink-user ul {
margin-left: 15px;

}
#block-socialfeed-instagram-latest-feed ul  {
	background-color: rgba(174, 15, 26, 0.77);
	border-radius: 14px;
	color: white;
	text-align: center;
    margin-left: 70px;
    margin-right: 70px;
}
#block-socialfeed-instagram-latest-feed ul li {margin-top: 10%;
padding-bottom: 21px;
    padding-top: 20px;
    border-bottom: 1px solid white;
    margin-left: -40px;}
body {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    color: #2c3e50;
    background-image: url(images/cover.jpg);
    background-size: cover;
}
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.row .region-sidebar-first {
	background: white;
}
.col-sm-6 {
   // width: 48%;
background: white;
padding-bottom: 15px;
margin-left:-15px;
border-radius: 5px
}
.row .region-sidebar-second {
	background: white;
	padding-top: 1px;
    border-radius: 5px;
}
.footer {
	background:white;
}
.navbar.container, .navbar.container-fluid {
    background-color: rgb(174, 15, 26);
}
.navbar-collapse.collapse ul li a{
    color: white;
text-transform: uppercase;
margin-top: 10px;
font-family: Dosis;
}
.block:first-child h2.block-title, .page-header{
 text-transform: uppercase;
font-family: Dosis;   
}
.view-id-eom .empname a {
 text-transform: uppercase;
font-family: Dosis;   
}   
#block-weblinks-blocks-weblink-user    {margin-left: 57px;
    margin-right: 69px;
}
.date-nav ul li a{ 
    color: rgb(174, 15, 26);
    }
    #block-views-calendar-block-1 h2 {
    text-align: center;
    font-family: Dosis;
    color: white;
    background-color: rgb(174, 15, 26);
    margin-top: 0px;
    text-transform: uppercase;
}
.row .region-content h3{
    background-color: rgb(174, 15, 26);
}

.date-nav div.date-heading h3 {
    margin-top: -10px;
    padding: 6px;
    color: white;
    padding-top: 8px;
}
.nav-tabs {
    border-bottom: none;

}
.page-header {
     border-bottom: none;
     }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color:rgb(174, 15, 26);
}
.region-content .profile{
    text-align: center;
    color:rgb(174, 15, 26);
    font-family: Dosis;
    font-size: 1.5em;  
}
.region-content .profile .user-picture{    text-align: center;
    display: inline-block;

}

.region-footer .block-social-media-links-social-media-links{
    float: right;
    margin-top: -27px;
    

}
#block-system-powered-by{
    float: left;
}
#block-social-media-links-social-media-links{
    margin-right: 7%;
    margin-top: -40px;
    float: right;
}
.region.region-content #block-system-main .user-picture{
    display: none;
}
.view-id-our_team tr a{
    font-size: 1.5em;
    vertical-align: center;
}
.view-id-our_team td{
vertical-align: middle
}
.view-id-our_team td th{
    display: none;
}