/**
 * Place your custom styles here.
 */
@font-face {
   font-family: 'Dosis';
    src: url('../fonts/Dosis-Regular.otf')  format('truetype');
    
}
@font-face {
   font-family: 'Dosis2';
    src: url('../fonts/Dosis-ExtraBold.otf')  format('woff');
    
}
.col-sm-3 .region-sidebar-first{
	margin-left: -2px;
    margin-top: 10px;
    padding-left: 0;
}
#block-views-eom-block ,#block-views-new-joinee-block {
	text-align: center;
} 
.row .col-sm-6 h1{
text-align: center;
}
.region-sidebar-first img{
	display: inline;
	text-align: center;
}
.region-sidebar-second #block-views-new-joinee-block {     
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
    margin-top: 10%
}
#block-views-new-joinee-block img {
	display: inline;
	text-align: center;
    margin-top: 8px;
    margin-left: 15px
}
.view-id-fb_feeds .view-content {
	border: 1px solid;
	border-radius: 14px ;
	background-color: rgba(174, 15, 26, 0.77);
	color: white;
	margin-top: 3px;}

.view-id-fb_feeds .view-content .views-row{
border-bottom: 1px solid white;
}	

}
.bubble {
  height: 100%;
  width: 100%;
  border-left: inherit;
  position: relative;
  cursor:pointer;
}
.bubble p{
	margin: 12px 25px 10.5px;
}
#block-views-fb-feeds-block h2 {
	font-family: Dosis;
	color: rgb(174, 15, 26);
	text-align: center;
    text-transform: uppercase;
}

#block-views-eom-block h2 {
	font-family: "Dosis";
	color: rgb(174, 15, 26);
	text-align: center;
    text-transform: uppercase;
    margin-right: -17px;
}
.view-id-eom{
	border: 0px solid;
	border-radius: 5px ;
	margin-top: 3px;
}
.view-id-eom .img1 {
    margin-top: 12%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 10%;
}
}
.view-id-eom .empname a {
	color: white;
}
#block-block-1 {
  
  //border-left: 10px solid ;
  //border-color:  rgb(174, 15, 26);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
#block-block-1 {
	
  padding-left: 70px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 10px;
  background-image: url(images/openquote4.gif);
  background-position: middle left;
  background-repeat: no-repeat;
  text-indent: 23px;
float: left;
background-size: 47px;
} 
.navbar .container-fluid .navbar-default{
	background-color:rgb(174, 15, 26);
}

.view-id-new_joinee{
	//background-color: rgb(174, 15, 26);
	margin-top: -30px;
	border-top: none;
	margin-top: none;
	padding-top: 10px
}
.view-id-new_joinee .views-field-picture {margin-top: -2%;
	margin-left: 1%;
	margin-right: 10%;
	margin-bottom: 4%;
}
.view-id-new_joinee .views-field-name a{
	color: rgb(174, 15, 26);
}
#block-views-new-joinee-block h2{
	font-family: Dosis;
    color: rgb(174, 15, 26);
    text-align: center;
   // background-color: rgb(174, 15, 26);
   text-transform: uppercase;
   margin-top: 10px;
    
}
.row .col-sm-6  h1{
	font-family: Dosis;
	color: rgb(174, 15, 26);
    text-align: center;
    padding-top:27px;
    text-transform: uppercase;
}
#block-views-calendar-block-1 h2 {
	text-align: center;
	font-family: Dosis;
	color: white;
	background-color: rgb(174, 15, 26);
	margin-top: 0px;
	margin bottom: 5px;
    text-transform: uppercase;
}
.calendar-calendar .month-view .full td.multi-day div.monthview, .calendar-calendar .week-view .full td.multi-day div.weekview, .calendar-calendar .day-view .full td.multi-day div.dayview {
    background: yellow;
    height: 1.9em;
    overflow: hidden;
    margin: 0px auto;
    color: black;
	position: relative;
}
.calendar-calendar .month-view .full td.multi-day .inner .monthview .continues, .calendar-calendar .month-view .full td.multi-day .inner .monthview .cutoff, .calendar-calendar .week-view .full td.multi-day .inner .weekview .continues, .calendar-calendar .week-view .full td.multi-day .inner .weekview .cutoff {
    position: absolute;
    right: 0px !important;
    right: -1px;
    width: 10px;
    text-align: left;
    background: yellow;
    -moz-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
    height: 1.9em;
    padding-left: 6px;
    z-index: 1;
}
.btn-info {
	margin-top: -10px;
    margin-bottom: 10px;
    -webkit-border-radius: 4px;
    
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    border: 4px solid rgba(174, 15, 26, 0.77);
    padding: 5px 18px 5px;
    line-height: 30px;
    text-align: center;
    background: rgb(174, 15, 26);
    transition: all 0.3s ease-in-out;
}
.btn-info:hover {
    background-color: rgba(174, 15, 26, 0.77);
    border-color: rgba(174, 15, 26, 0.77);  
    color: #ffffff;
  
}
.region-content #block-views-calendar-block-1{
	border-left:4px solid;
	 border-right: 4px solid;
	 color: rgb(174, 15, 26);
}
.region-content #block-views-calendar-block-1 .calendar-calendar {
	margin-right: -1px;
	margin-left: -1px;
}
.region-content #block-views-flag-bookmarks-block-1 h2{
	text-align: center;
	font-family: Dosis;
	color: rgb(174, 15, 26);
    text-transform: uppercase;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #F2DEDE;
}
.table > thead > tr > td.active, .table > tbody > tr > td.active, .table > tfoot > tr > td.active, .table > thead > tr > th.active, .table > tbody > tr > th.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > tbody > tr.active > td, .table > tfoot > tr.active > td, .table > thead > tr.active > th, .table > tbody > tr.active > th, .table > tfoot > tr.active > th {
    background-color: rgba(174, 15, 26, 0.41);
}
.region-content #block-views-flag-bookmarks-block-1 h2{
    text-align: center;
    font-family: Dosis;
    color: white;
    background-color: rgb(174, 15, 26);
    margin-top: 20px;
    text-transform: uppercase;
 }
 
#block-views-user-birthdays-block h2 {
    text-align: center;
    font-family: Dosis;
    color: rgb(174, 15, 26);
    background-color: transparent;
    margin-top: -9px;
    text-transform: uppercase;
    margin-bottom: 26px;
}
.view-id-user_birthdays{
	margin-left: 30px;
}
#block-views-user-birthdays-block {
	margin-top:30px;
	
	//background-color: rgba(174, 15, 26, 0.77);
}
.region-sidebar-first #block-user-login h2{
font-family: Dosis;
	color: rgb(174, 15, 26);	
    text-transform: uppercase;
}
#block-user-login input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color:rgba(21, 165, 137, 0.13) ;
    background-image: none;
    color: rgb(0, 0, 0);
}
.btn-default {margin-top: 10px;
    margin-bottom: 30px;
    -webkit-border-radius: 4px;
    
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    border: 4px solid rgba(174, 15, 26, 0.77);
    padding: 5px 18px 5px;
    line-height: 30px;
    text-align: center;
    background: rgb(174, 15, 26);
    transition: all 0.3s ease-in-out;
}
#block-system-main{
	margin-bottom: 10px;
}
#block-views-user-birthdays-block .view-id-user_birthdays .table-responsive a{
	color :#2c3e50;
}
#block-weblinks-blocks-weblink-user h2 {
	color: white;
    font-family: Dosis;
    padding-left: 40px;
    background-color: rgb(174, 15, 26);
    margin-top: 0px;
   text-transform: uppercase;
}
#block-socialfeed-instagram-latest-feed h2{
color: rgb(174, 15, 26);
    font-family: Dosis;
    text-align: center;
    text-transform: uppercase;


}
#block-weblinks-blocks-weblink-user{ border: 2px solid rgb(174, 15, 26);
border-top: none;

}
#block-weblinks-blocks-weblink-user ul {
margin-left: 15px;

}
#block-socialfeed-instagram-latest-feed ul  {
	background-color: rgba(174, 15, 26, 0.77);
	border-radius: 14px;
	color: white;
	text-align: center;
    margin-left: 70px;
    margin-right: 70px;
}
#block-socialfeed-instagram-latest-feed ul li a img{margin-top: 10%;
padding-bottom: 21px;
    padding-top: 9px;
    border-bottom: 1px solid white;
    margin-left: -40px;}


.wrapper {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    color: #2c3e50;
    background-image: url(images/cover.jpg);
    background-size: cover;
    padding-top: 72px

}
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.row .region-sidebar-first {
	background: white;
}
.col-sm-6 {
    //width: 57.1%;
    background: white;
    padding-bottom: 15px;
    
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.row .region-sidebar-second {
	background: white;
	padding-top: 1px;
    border-radius: 5px;
    margin-top: 10px;
}
.footer {
	background:white;
}
.navbar.container, .navbar.container-fluid {
    background-color: rgb(174, 15, 26);
    margin-bottom: 0px; 
    border: 0px solid transparent; 
    position: fixed;
    z-index: 1;
    width: 100%;
}
.navbar-collapse.collapse ul li a{
    color: white;
text-transform: uppercase;
margin-top: 10px;
font-family: Dosis;
}
.block:first-child h2.block-title, .page-header{
 text-transform: uppercase;
font-family: Dosis;  
color:  rgb(174, 15, 26);
}
.view-id-eom .empname a {
 text-transform: uppercase;
font-family: Dosis;   
}   
#block-weblinks-blocks-weblink-user    {margin-left: 57px;
    margin-right: 69px;
}
.date-nav ul li a{ 
    color: rgb(174, 15, 26);
    }
    #block-views-calendar-block-1 h2 {
    text-align: center;
    font-family: Dosis;
    color: white;
    background-color: rgb(174, 15, 26);
    margin-top: 0px;
    text-transform: uppercase;
}
.row .region-content h3{
    background-color: rgb(174, 15, 26);
}

.date-nav div.date-heading h3 {
    margin-top: -10px;
    padding: 6px;
    color: white;
    padding-top: 8px;
}
.nav-tabs {
    border-bottom: none;

}
.page-header {
     border-bottom: none;
     }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color:rgb(174, 15, 26);
}
.region-content .profile{
    color:rgb(174, 15, 26);
    font-family: Dosis;
    font-size: 1.5em;  
}
.region-content .profile .user-picture{    text-align: center;
    display: inline-block;

}

.region-footer .block-social-media-links-social-media-links{
    float: right;
    margin-top: -27px;
    

}
#block-system-powered-by{
    float: left;
}
#block-social-media-links-social-media-links{
    margin-right: 7%;
    margin-top: -40px;
    float: right;
}
.#block-social-media-links-social-media-links .block-title{
    display: none;
}
.region.region-content #block-system-main .user-picture {
    display: none;
}
.view-id-our_team tr a{
    font-size: 1em;
    vertical-align: center;
}
.view-id-our_team td{
vertical-align: middle
}
.view-id-our_team td th{
    display: none;
}
.region-sidebar-first .empname{
    margin-top: 11px;
}

.flexslider {
   margin: 17px 9px 40px;
   background: transparent;
   border: 0px solid;
   margin-right: -9px; 
 }
.flexslider .slides img {
    width: auto;
    display: inline;
}
.flex-direction-nav a {
    height: 47px
}
#flexslider-3 .views-field-picture {
    text-align: center;
    margin-top: 41px;
}
#flexslider-3 .views-field-name{
    text-align: center;
}
.views-field-field-birthdays-this-month{
    text-align: center;
}

.field-type-birthdays-date .field-label-above, .field-name-field-joining-date .field-label, .field-name-field-name .field-label, .field-name-field-about .field-label  {
        float: left;
    width: 27%;
}

.field-name-field-employee-of-the-month .field-label, .field-name-field-designation .field-label, .field-name-field-employee-code .field-label {
        float: left;
    width: 27%;
}

.field-name-field-eom-month- .field-label, .field-name-field-birthdays-this-month .field-label{
        float: left;
    width: 27%;
}
#block-quicktabs-facebook h2 {
    text-align: center;
    color: rgb(174, 15, 26);
margin-top: 0px;
}
ul.quicktabs-tabs.quicktabs-style-basic a  {
    font: bold 21px/0px dosis !important;
    text-decoration: none;
    color:rgb(174, 15, 26); 
    text-transform: capitalize;
}
ul.quicktabs-tabs.quicktabs-style-basic {
    border-bottom: 1px solid #E1E1E1;
    padding: 1px 5px 0px 51px;
    font: bold 18px/23px dosis !important;
    font-weight: bolder;
    height: 27px;
    margin: 0;}
#popup-active-overlay .admin-menu-site-localhost .overlay-displace-top .admin-menu-processed .admin-menu-position-fixed{
        display: none;
    }
.flexslider{
    text-align: center;
}
.footer {
    margin-top: 35px;
    padding-bottom: 0px;
    border-top: 1px solid transparent;
}
.col-sm-6 .region.region-content #user-login{
    width: 50%
}
.region-sidebar-second .block-quicktabs {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}
.quicktabs_main.quicktabs-style-basic{
    margin-bottom: 15px
}
#outerImageContainer{
    min-height: 200px;
    max-height: 320px;
}
.region-footer .menu-name-menu-quicklinks ul li a{
    color: white;
    margin-top: -28px;
    margin-bottom: 6px;
    float: left;
    background-color: rgb(174, 15, 26);
margin-left: 50px;
font-family: dosis;
text-transform: uppercase;
border-radius: 4px;
}
.region-footer .menu-name-menu-quicklinks ul li a:hover {
    background-color: rgba(174, 15, 26, 0.77);
    border-color: rgba(174, 15, 26, 0.77);  
    color: #ffffff;
    }
#flexslider-3 {
    border: 1px solid #EBEBEB;
        margin-left: -13px;
    margin-right: 19px;
}
#modalContainer{
    overflow: hidden;
    height: 250px !important;
}
#outerImageContainer{
    height: 250px !important;
}
.lightbox2-alt-layout-data #bottomNavClose, .lightbox2-alt-layout #bottomNavClose {
    margin-top: 1px;
}
#imageData #bottomNav {
    height: 1px;
}
.lightbox2-alt-layout #imageData #bottomNav, .lightbox2-alt-layout-data #bottomNav {
   margin-bottom: 36px;
}
.row h2 {
    font-size: 26px;
}
.col-sm-3 {
    //width: 22%;
    }
.col-sm-6 .view-new-joinee .view-footer p {
    display: none
}
.views-field-field-eom-month-{
    margin-top: 10px;
margin-bottom: -14px;
}
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -27px;
    text-align: center;
}

#flexslider-2 .field-content { 
    display: inline-block;
    margin-top: 6px
}
#flexslider-2 .views-field .views-field-field-joining-date{
    margin-top: 50px
}
#flexslider-2 .views-field-field-team{
    margin-bottom: 33px
}

#flexslider-3 .views-field-field-birthdays-this-month .field-content {display:inline-block;}


#block-socialfeed-facebook-latest-feed ul {
    list-style: none;
    padding-left: 10px;
}
#block-socialfeed-facebook-latest-feed ul li {
    list-style: none; 
    padding-bottom: 10px; 
}
#modalContainer ul li {
        list-style: none;
        margin-left: -43px;
}
#frameHoverNav {
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    position: absolute;
    bottom: 0px;
    height: 0px;
    }
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}
.quicktabs_main.quicktabs-style-basic {
    background-color: white;
    border: 1px solid #E1E1E1;
    border-top: none;
    padding: 10px;
    clear: both;
}

@media only screen and (max-width: 767px) {

.region-footer .menu-name-menu-quicklinks ul li a {margin-left:0px;}
.page-node-9 .col-sm-6 {    margin-left: 15px;
    margin-right: 15px;}

}
.navbar.container, .navbar.container-fluid {
     margin-top: 0px;
}